<div class="page">
  <h2 class="page-title">Liste des suggestions</h2>

  <div class="search-wrapper">
    <input
      class="search-input"
      type="text"
      placeholder="Rechercher une suggestion"
      [(ngModel)]="searchTitle"
    />

    <input
      class="search-input"
      type="text"
      placeholder="Rechercher par catégorie"
      [(ngModel)]="searchCategory"
    />
  </div>

  <div class="cards">
    <div class="card" *ngFor="let s of filteredSuggestions">
      <h3 class="card-title">{{ s.title }}</h3>

      <div class="meta">
        <span class="category">{{ s.category }}</span>
        <span class="dot">•</span>
        <span class="date">{{ s.date | date:'dd MMM yyyy' }}</span>
      </div>

      <p class="desc">{{ s.description }}</p>

      <div class="status">
        <span
          class="badge"
          [ngClass]="{
            'badge-accepted': s.status === 'acceptee',
            'badge-pending': s.status === 'en_attente',
            'badge-refused': s.status === 'refusee'
          }"
        >
          {{ s.status }}
        </span>
      </div>

      <!-- Boutons (pas de boutons si refusée) -->
      <div class="actions" *ngIf="s.status !== 'refusee'">
        <button class="btn btn-like" (click)="like(s)">
          👍 Like {{ s.nbLikes }}
        </button>
        
        <button class="btn btn-like" [routerLink]="['/suggestions', s.id]">
             Details
        </button>

        <!-- si déjà favori => bouton retirer -->
        <button
          *ngIf="isFavorite(s); else addFavBtn"
          class="btn btn-remove"
          (click)="removeFromFavorites(s)"
        >
          ✖ Retirer des favoris
        </button>

        <ng-template #addFavBtn>
          <button class="btn btn-fav" (click)="addToFavorites(s)">
            ♡ Ajouter aux favoris
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- FAVORIS -->
<h2 class="favorites-title" *ngIf="favorites.length > 0">
  Favoris
</h2>

  <div class="cards" *ngIf="favorites.length > 0">
    <div class="card" *ngFor="let f of favorites">
      <h3 class="card-title">{{ f.title }}</h3>

      <div class="meta">
        <span class="category">{{ f.category }}</span>
        <span class="dot">•</span>
        <span class="date">{{ f.date | date:'dd MMM yyyy' }}</span>
      </div>

      <p class="desc">{{ f.description }}</p>

      <div class="status">
        <span
          class="badge"
          [ngClass]="{
            'badge-accepted': f.status === 'acceptee',
            'badge-pending': f.status === 'en_attente',
            'badge-refused': f.status === 'refusee'
          }"
        >
          {{ f.status }}
        </span>
      </div>

      <div class="actions">
        <button class="btn btn-remove" (click)="removeFromFavorites(f)">
          ✖ Retirer des favoris
        </button>
      </div>
    </div>
  </div>
</div>
